@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);


body {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px; /* Avoid width reflow */
  }

/* headers sections */
.main-head{
  background-color: #222B3C;
  color: white;
  display: flex;
  align-items: center;
  min-height: 5vh;
}

.main-head h1{
  width: 90%;
margin: auto;  
}
a {
  color: white;
  text-decoration: none;
}



#instant-dm{
    position: fixed;
    height: 80%;
    width: 80%;
    overflow: scroll;
    
    
}


#keypad{
    height: 5%;
    position: absolute;
    left: 5px;
    top: 87%;
    width: 100%;
}


#container{
    background-color: #182131;
   
}
#feedback{
    color: white;
}
#sideBar{
    background-color:#222B3C;
    
}
#main{
    height: 100VH;
    min-height:100vh;
}
#messageBar{
    /* background-color: #191970; */
    height:auto;
    min-height:100vh;
}

#thisUser{
    margin-bottom: 15%;
    /* font-size: 100%; */
    /* border-radius: 25px; */
    /* width: auto; */
    background: orange;
    margin-left:20px;
	padding:1px 10px 0 12px;
	/* background:#0089e0; */
	color:black;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}
#thisUser::before {
    content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent orange transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
  }
  
  #thisUser::after {
    content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px orange;
	-webkit-box-shadow:-1px -1px 2px orange;
	box-shadow:-1px -1px 2px orange;
  }

#toggler{
    width: auto;
    margin-bottom: 4px;
}
#online{
    position: fixed;;
    overflow: scroll;
    height: 80%;
    overflow-x: hidden;
}
.allUsers{
    background-color: #FF8C00;
}
.allUsersOnline{
    background-color: #7FFFD4;
}
#toWho{
    margin-left: 5%;
    width: 200px;
    background-color: tomato;
    border-radius: 25px;
}

.dmout{
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #20B2AA;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #20B2AA;
    border-radius: 10px;
}


.dmIn{
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #00FF7F;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #00FF7F;
    border-radius: 10px;
}

.dmRetrieve{
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: lightgray;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid lightgray;
    border-radius: 10px;
}

/* .redDot {
    background-color: red;
    display: inline-block;
  }

  .greenDot {
    background-color: green;
    display: inline-block;
  } */

/* width */
#online::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#online::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#online::-webkit-scrollbar-thumb {
  background: #DC6646; 
  border-radius: 10px;
}

/* Handle on hover */
#online::-webkit-scrollbar-thumb:hover {
  background: #DC6646; 
}

/* part2 */

/* part2 */
#instant-dm::-webkit-scrollbar {
    overflow: auto;
    width: 20px;
  }
  
  /* Track */
  #instant-dm::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  #instant-dm::-webkit-scrollbar-thumb {
    background: #DC6646; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #instant-dm::-webkit-scrollbar-thumb:hover {
    background: #DC6646; 
  }

#onlineNow { 
    vertical-align: top; 
    font-size: medium; 
    visibility: hidden;
    color: rgb(5, 158, 5)
} 
#newSms { 
    vertical-align: top; 
    font-size: medium; 
    visibility: hidden;
    color: rgb(255, 17, 0);
} 