@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);


#instant-dm{
  
    height: 90%;
    
}
#keypad{
    height: 5%;
}


#container{
    background-color: #182131;
   
}
#feedback{
    color: white;
}
#sideBar{
    background-color:#222B3C;
    
}
#main{
    height: 100VH;
    min-height:100vh;
}
#messageBar{
    /* background-color: #191970; */
    height:auto;
    min-height:100vh;
}

#thisUser{
    margin-bottom: 1.5%;
    border-radius: 25px;
}
.allUsers{
    background-color: #FF8C00;
}
.allUsersOnline{
    background-color: #7FFFD4;
}
#toWho{
    margin-left: 5%;
    width: 200px;
    background-color: tomato;
    border-radius: 25px;
}

.dmout{
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #20B2AA;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #20B2AA;
    border-radius: 10px;
}


.dmIn{
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #00FF7F;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #00FF7F;
    border-radius: 10px;
}

.dmRetrieve{
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: lightgray;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.redDot {
    background-color: red;
    display: inline-block;
  }

  .greenDot {
    background-color: green;
    display: inline-block;
  }

