@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* #chat-room{
    width: 300px;
    height: 600px; */
    /* background-color: tomato; */
/* } */
#instant-dm{
    /* width: 500px;
    height: 400px; */
    /* background-color: tomato; */
    height: 90%;
    
}
#keypad{
    height: 8%;
}
/* h1{
    background-color: yellow;
} */

#container{
    border: 4px black solid;
}

#sideBar{
    border: 4px black solid;
}
#main{
    height: 100VH;
    min-height:100vh;
}
#messageBar{
    background-color: tomato;
    height: 100VH;
    min-height:100vh;
}

#thisUser{
    margin-bottom: 5%;
}


.dmout{
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}


.dmIn{
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #96f8cf;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.dmRetrieve{
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: lightgray;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.redDot {
    background-color: red;
    display: inline-block;
  }

  .greenDot {
    background-color: green;
    display: inline-block;
  }

