* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../images/zilker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Karla", sans-serif;
  color: #46433e;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
}

nav {
  z-index: 980;
}

.navText {
  color: #807f3c !important;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: all;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 0 15px;
  font-size: 15px;
}

.navText a {
  color: #807f3c !important;
}

.uk-navbar a:hover,
.uk-navbar-nav li:hover {
  background-color: #96abb0;
  border-radius: 3px;
}

#main {
  margin: auto;
  padding: 50px 50px 50px 0px;
  flex: 1;
}

#main > div {
  /* height: 100%;  */
  /* padding: 30px 30px 30px 16px; */
  display: flex;
  flex-direction: column;
}

.headerText {
  font-family: "Roboto-Slab", serif;
}

#userArea {
  background-color: #96abb0;
  padding-right: 25px;
  border-radius: 3px;
  padding-bottom: 5px;
  opacity: 0.95;
}

#userArea > div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#user {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
}

#profileImage {
  align-self: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #b36b39;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  line-height: 130px;
}

.userInfo li {
  list-style: none;
}

#searchInput {
  background-color: #46433e;
  border-radius: 3px;
  opacity: 0.8;
  color: #d7e0e7;
}

.uk-button {
  border-radius: 3px;
  margin-top: 3px;
}

#mainArea {
  padding-left: 10px;
}

.infoSections {
  border-radius: 3px;
  padding: 32px;
  background-color: #d7e0e7;
  opacity: 0.96;
}

#radius {
  align-self: flex-start;
}

.parkInfo {
  display: flex;
  margin-bottom: 20px;
}

.parkInfo div {
  padding: 16px;
}

.parkInfo #map {
  display: flex;
  flex-direction: column;
}

.hide {
  visibility: hidden;
}

.weatherEl {
  padding: 0 16px;
}

#currentDate {
  font-size: 18px;
}

#currentWeather {
  margin-bottom: 10px;
}
ul {
  padding-left: 0;
}

.forecast {

  padding: 16px;
  margin-top: 0px !important;
}


@media only screen and (max-width: 959px) {
  #main {
   display: flex;
   flex-direction: column;
   padding: 20px;
   text-align: center;
   margin: auto;
  }

  #userArea {
    padding-bottom: 35px;
    margin-bottom: 20px;
  }

  #mainArea {
    padding: 0;
  }
}

