extends layouts/main.pug
block search
    div(class="grid-x grid-padding-x largePaddingTop pageMainSection")

        article(class="cell medium-10 " id="searchRes")
                h3(class="sectionHeader") Search matches

                div(id="searchResHolder")