extends layouts/login_main.pug

block content
	div(class="uk-container uk-position-center uk-overlay uk-overlay-primary uk-text-center")
		h1(class="uk-text-danger") An error has occurred
		h2 This should not have happened and a member of our development team must be punished
		h1 Pick who to fire
		a(href="/")
			h4 Evan

		a(href="/")
			h4 Rachael

		a(href="/")
			h4 Sabrina

		a(href="/")
			h4 Alex

		hr
		h4 Applicable error, if any:
		p= code
		p= message


		