extends layouts/main.pug

block content
	button(id="logoutBtn", class="uk-button uk-button-danger") Logout
	h1= message
	
block localScripts
	script(src="./assets/scripts/home.js", type="text/javascript")