extends layouts/main

block home       

  
                div(class="grid-x grid-padding-x largePaddingTop pageMainSection")
                        include includes/user-panel  
                        main(class="cell medium-6 large-8 mainSection") 
                                div(class="hero-section noMarginTop")
                                        div(class="hero-section-text")
                                        h1 Dog Date
                                        h5 New friends for your fur baby

                                include includes/all-users
                                include includes/map

                        include includes/info-panel
                        
                        
