extends layouts/main

block forecast

    //5-day weather forecast
    
    div(
        class="infoSections grid-x grid-padding-x largePaddingTop pageMainSection"
    )
        include includes/user-panel
        article(class="cell medium-6 large-8 largePaddingTop" id="weatherForecast")
            h4(class="text-center") 6-Day Forecast
     
            div(
                id="forecast_div"
                class="grid-x grid-padding-x weatherEl"
            )
        include includes/info-panel
