extends layouts/main

block forecast

    //5-day weather forecast
    
    div(
        class=" grid-x grid-padding-x largePaddingTop pageMainSection"
    )   
        article(class="cell " id="weatherForecast")
            h3(id="currentDay" class="sectionHeader marginBottom") Current Conditions
            div(id="currentWeatherPage" class="grid-x cell ")
                h5(id="wpCurrentDate")
                div(class="WeatherLargeArea small-12 medium-3 large-2")
                    img(id="weather-icon" alt="weather icon")
                    h2(class="currentTempInfo")
                        span(id="wpTemp")
                p Humidity: 
                    span(id="wpHumidity")
                p Wind Speed: 
                    span(id="wpWind")
                p UV Index: 
                    span(id="wpUV")
            hr
            div(class="sixDayWeather")
                h3.sectionHeader 6-Day Forecast
     
                div(
                    id="forecast_div"
                    class="grid-x grid-padding-x weatherEl"
                )
