article(class="grid-container" id="allUsersDiv")
	p.text-center Connect with other users in your area and make new bff for your dog!
	div(class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-5 allUsers")
		each val in allUsers
			div(class="cell users")
				img(src= val.img_src, alt="image for article")
				div(class="textOverlay textCtr")
					h5(class="user-name")= val.username
					//span(class="location")
						span(class="location-icon fa fa-map-marker")
							pan(class="location-text") Austin, TX
					div(class="makeFlex")
						div(class="overlayInfo float-left")
							p 
								i(class="fa fa-paw big")
								span(class="pets") #{ val.pets.length }
						div(class="overlayContact float-right")
							
							//p 
								i(class="fa fa-user big")
							
				div(class="overlay ctr")
					a(href="" target="_blank")
						button(type="button" class="hollow button small primary") View profile!