div(class="cell medium-3 large-2 noMarginTop sidePanels" id="infoArea" data-sticky-container)


        div(class="panel-radius" id="planner")

            h4(class="smallHeader") Planned Play Dates 

            //-   <!--   Todo items go here  -->

        hr

        div(class="panel-radius" id="favorites")

            h4(class="smallHeader") Your Top Places 
            //- <!--   Favorite places go here  -->
        
        hr

        div(class="panel-radius" id="events")

            h4(class="smallHeader") Nearby Events

            