nav(class="uk-navbar-container", uk-sticky="top: 0", uk-navbar)
		a(class="uk-navbar-item uk-logo", href="/") Dog Date

		label(class="label", for="toggle") &#9776;
		input(type="checkbox" id="toggle")

		ul(class="uk-navbar-nav navLinks")
			li(class="navText")
				a(href="#parkMap") Map
			li(class="navText")
				a(href="#parkList") Park List
			li(class="navText")
				a(href="#forecast") Weather