nav.customNavbar
  div.brand-title 
    a(href="/")
        img(
            src="/assets/images/login-corgi-small.png" 
            width="50"
            height="50px"
            alt=""
        ) 
        | Dog Date
    //Hamburger icon for mobile display
    a(href='#' class="toggle-button" id="toggleBtn")
        i(class="fa fa-bars")

  div(class="navbar-links" id="navLinks")
    ul
        li
            a(href='/' alt="home")
                i.fa.fa-home
                | Home
        li
            a(href='profile/' + user.id alt="profile" id="profileLink")
                i.fa.fa-user
                | Profile
        li
            a(href='/calendar' alt="planner")
                i.fa.fa-calendar
                | Planner
        li
            a(href='/sms' alt="sms")
                i.fa.fa-comments
                | Messages
        li
            a(href='/weather' alt="weather")
                i.fa.fa-cloud
                | Weather
        li
            a(alt="sign out")
                button#logoutBtn.button.small.hollow.topbar-responsive-button(type='button') 
                    i.fa.fa-sign-out Sign Out
