
<article class="grid-container" id="allUsersDiv">
  <p class="text-center">Connect with other users in your area and make new bff for your dog!</p>
  <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-5 allUsers">
    <div class="cell users"><img src="/assets/images/k.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">George P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 1</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> <i class="fa fa-user big"></i></p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/e.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">May P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> 
              <!--Online icon--><i class="fa fa-paw big"></i><span class="pets"> 1</span>
            </p>
          </div>
          <div class="overlayContact float-right">
            <p> 
              <!--Online icon--><i class="fa fa-user big"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/i.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Vo P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 3</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> <i class="fa fa-user big"></i></p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/b.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Lily P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 1</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> 
              <!--Online icon--><i class="fa fa-user big"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/l.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Tom P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 3</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> 
              <!--Online icon--><i class="fa fa-user big"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users">
      <div class="textOverlay textCtr">
        <h5 class="user-name">Kim P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 2</span></p>
          </div>
          <div class="overlayContact float-right">
            <p>   
              <!--Online icon--><i class="fa fa-user big"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/f.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Pat P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> 
              <!--Online icon--><i class="fa fa-paw big"></i><span class="pets"> 3</span>
            </p>
          </div>
          <div class="overlayContact float-right">
            <p> <i class="fa fa-user big"></i></p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/j.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Lew P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 2</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> <i class="fa fa-user big"></i></p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/h.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Kay P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 3</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> <i class="fa fa-user big"></i></p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button   small primary" type="button">View profile!</button></a></div>
    </div>
    <div class="cell users"><img src="/assets/images/d.jpg" alt="image for article"/>
      <div class="textOverlay textCtr">
        <h5 class="user-name">Troy P. </h5><span class="location"><span class="location-icon fa fa-map-marker">
            <pan class="location-text">Austin, TX</pan></span></span>
        <div class="makeFlex">
          <div class="overlayInfo float-left">
            <p> <i class="fa fa-paw big"></i><span class="pets"> 1</span></p>
          </div>
          <div class="overlayContact float-right">
            <p> <i class="fa fa-user big"></i></p>
          </div>
        </div>
      </div>
      <div class="overlay ctr"><a href="" target="_blank">
          <button class="hollow button small primary" type="button">View profile!</button></a></div>
    </div>
  </div>
</article>